.ui .button{
    background-color: #13b1ab;
    color: #ffffff;
}
.ui .button:hover{
    background-color: #13928c;
    color: #ffffff;
}
.qtyText{
    font-size: 16px;
    line-height: 40px;
}
.listView {
    font-size: 16px;
    line-height: 30px;
}