.contactus {
    margin-top: 20px !important;
}
.detailView{
    box-shadow: -1px 3px 10px 3px rgb(119 119 119 / 30%);
    padding: 20px;
    margin-top: 20px !important;
    font-weight: normal !important;
}
.innerView{
    display: flex;
}
i.big.icon, i.big.icons{
    margin: 10px 10px 0 0 !important;
}
.innerView h3{
    font-weight: normal;
}
.innerView h4{
    font-size: 17px;
}